<p>cart works!</p>

<div class="container">
    <div class="firstdiv">
        <div class="flexprop">
            <h3>My cart (1)</h3>
            <select name="" id="">
                <option value="">Use current location</option>
            </select>

        </div>
        <div class="flexprop">
            <div>
                <img src="../../../assets/Image 12.png" alt="">
            </div>
            <div>
                <h4>Don't Make Me Think</h4>
                <h3>by Steve Krug</h3>
                <h4>Rs. 1500</h4>
            </div>

        </div>
        <div class="flexprop">
            <div>

                <span class="material-symbols-outlined">
                    do_not_disturb_on
                </span>
                <input type="number">
                <span class="material-symbols-outlined">
                    add_circle
                </span>
            </div>
            <div>
                Remove
            </div>
        </div>
        <div>
            <button>PLACE ORDER</button>
        </div>

    </div>
    <div class="firstdiv" style="height: 60px;">
        Address Details

    </div>
    <div class="firstdiv" style="height: 60px;">
        Order summery
    </div>

</div>