<div class="container">
    <div>
       home/ My Wishlist
    </div>
    <div class="firstdiv">
        <div id="wishlisthead">
            My Wishlist ({{wishList.length}})
        </div>
        <div class="seconddiv" *ngFor="let book of wishList">
            <div class="thirddiv">
                <div>
                    <img src="../../../assets/Image 12.png" alt="">
                </div>
    
                <div>
                    <h4>{{book.product_id?.bookName}}</h4>
                    <h3>{{book.product_id?.author}}</h3>
                    <span style="font-weight: bold;">Rs. {{book.product_id?.discountPrice}}</span>&nbsp;&nbsp; <span
                        style="text-decoration: line-through; font-size: 12px; color: gray;">Rs.
                        {{book.product_id?.price}} </span>
                </div>
            </div>

            <div (click)="deletewishList(book)" style="cursor: pointer;"><span class="material-symbols-outlined">
                delete
                </span>
            </div>
        </div>

    </div>
</div>