<div>


<div class="topcontent">
    <div>
        <span>Books <span>(128 items)</span></span>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Sort by relevance</mat-label>
        <mat-select>
          <mat-option (click)="lowtohigh()" value="low">Price: Low to High</mat-option>
          <mat-option (click)="lowtohigh()" value="high">Price: High to Low</mat-option>
          <mat-option (click)="lowtohigh()" value="new">Newest Arrivals</mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="article">

    <div class="bookbox"  *ngFor="let book of bookArray | paginate:{itemsPerPage:itemsPerPage, currentPage: p}">
        <div class="imgbox">
            <a (click)="openDetailsBook(book)"><img src="../../../assets/Image 11.png" alt=""></a>
           
        </div>
        <div class="contentbox">
            <h5>{{book.bookName}}</h5>
            <h6>{{book.author}}</h6>
            <button style="background-color: green; color: white; border: none; font-weight: bold;" >4.5 <span style="font-size: 12px;" class="material-symbols-outlined">
                star
                </span></button>
            <h5>Rs.{{book.discountPrice}} &nbsp;&nbsp; <span style="font-size: 10px; text-decoration: line-through; color: #878787;">Rs.{{book.price}}</span></h5>
            
        </div>
        <div class="cartbtn">
            <button id="btn1">ADD TO BAG</button>
            <button id="btn2"> <span style="font-size: 13px;" class="material-symbols-outlined">
                favorite
                </span>
                WISHLIST</button>
        </div>
    </div>
</div>
<div id="pagination">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
</div>