
.bookbox {
    width: 235px;
    height: 310px;
    box-sizing: border-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000040;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    opacity: 1;
    margin: 20px;

}

.imgbox {
    width: 235px;
    height: 172px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentbox {
    padding-left: 15px;
    padding-top: 5px;
    letter-spacing: 0px;
}

h5 {
    font-weight: bold;
    font-size: smaller;
    // border: 2px solid red;
}

h6 {
    color: #878787;
    font-size: smaller;

    //  border: 2px solid red;
}

h5,
h6 {
    padding: 0;
    margin: 2px;
    font-family: Roboto;

}

.article {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.cartbtn{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#btn1{
    background-color:#A03037;
    color: #FFFFFF;
    border: none;
    padding:8px 20px;
    font-size: 10px;
}

#btn2{
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    padding: 6px 12px;
    

}