<div class="container">

    <div class="firstdiv">
        <div id="imgdiv">
            <img id="loginimg" src="../../../assets/component.png" alt="">

        </div>

        <div id="textdiv">
            Online Book Shopping
        </div>

    </div>
    <div class="seconddiv">

        <div id="logsign">
            <div>
            <a routerLink="/login">LOGIN</a>

                
            </div>
            <div>
              <a routerLink="/signup">SIGNUP</a> 
            </div>
        </div>

    <div>
      <p>Email Id:</p>
      <mat-form-field appearance="outline">
        <input  matInput class="inputbox" type="text" placeholder="Enter email">
    </mat-form-field>
        <p>Password:</p>
        <mat-form-field appearance="outline">
        <input matInput class="inputbox" type="password" placeholder="password">   
    </mat-form-field>
    </div>

    <div id="loginbtn">
        <button>Login</button>
    </div>
    <div style="text-align: center; margin-top: 5px;">
        OR
    </div>
    <div class="lowerbtn">
        <div>
            <button mat-flat-button color="primary">Facebook</button>
        </div>
        <div>
            <button mat-stroked-button>Google</button>
        </div>

    </div>

    </div>

</div>