<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<mat-toolbar>
        <div class="logo">
            <img src="../../../assets/book.png" alt="">
            <span>Bookstore</span>
        </div>
        <div class="searchbar">
            <input type="text" placeholder="Search...">
            <img id="sicon" src="..//../../assets/search.svg" alt="">
        </div>
        <div class="profile">
            <div>
                <!-- <img class="dimension" src="../../../assets/person.svg" alt=""> -->
                <span class="material-symbols-outlined">
                    person
                    </span>
                <span class="content">Profile</span>
            </div>
            <a routerLink="/home/cart">
            <div>
                <!-- <img class="dimension" src="../../../assets/cart.svg" alt="">   -->
                
                <span class="material-symbols-outlined">
                    shopping_cart
                    </span>
                <span class="content">Cart</span>
              
            </div>
        </a>
            
        </div>
  </mat-toolbar>


  


  <router-outlet></router-outlet>
  