table,th,td{
    border: 1px solid black;
    border-collapse: collapse;

}
.tablecontiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tablecontent{
    width: 90%;
}
tr{
    align-items: center;
}
.addbook{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;

}
#dialogbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}
