<p>admin-dashboard works!</p>
<div>

    <table>
        <tr>
            <th>Book</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Discount</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td><img src="../../../assets/Image 13.png" alt=""></td>
            <td>Two States</td>
            <td>Jonh Wick</td>
            <td>2500</td>
            <td>4511</td>
            <td>6</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>

        </tr>
    </table>
</div>