<p>ordersummery works!</p>

<div class="container">
    <div>
        <img src="../../../assets/ordersummmery.JPG" alt="">
    </div>
    <div id="orderno">
        hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
    </div>
    <div>
        <table>
                <tr>
                    <th>Email us</th>
                    <th>Contact us</th>
                    <th>Address</th>
                </tr>
                <tr style="width: 50%;">
                    <td>admin@bookstore.com</td>
                    <td>+91 8163475881</td>
                    <td id="adress">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
                </tr>

        </table>
    </div>
     <div>
        <button mat-raised-button color="primary" routerLink="/home/displaybook">CONTINUE SHOPPING</button>

    </div>
</div>
